[Unit]
Description=DNSCrypt-proxy client
Documentation=https://github.com/jedisct1/dnscrypt-proxy/wiki
{% if dnscrypt_sysd_socket_only %}
Requires=dnscrypt-proxy.socket
{% endif %}
After=network.target
Before=nss-lookup.target
Wants=nss-lookup.target

[Service]
NonBlocking=true
ExecStart={{ dnscrypt_bin }} --config {{ dnscrypt_config }}
ProtectHome=yes
ProtectControlGroups=yes
ProtectKernelModules=yes

# Run dnscrypt-proxy as unprivileged user with
# temporary assigned UID/GID. See man:systemd.exec
# for more info. Requires systemd 232+.
DynamicUser=yes
CacheDirectory=dnscrypt-proxy
LogsDirectory=dnscrypt-proxy
RuntimeDirectory=dnscrypt-proxy

# When using DynamicUser, need to grant
# user capability to bing priviledged ports.
# Could just set high number like 4141 instead
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
{% if dnscrypt_sysd_socket_only %}
Also=dnscrypt-proxy.socket
{% endif %}
WantedBy=multi-user.target
